@import url('https://fonts.googleapis.com/css?family=New+Rocker');
@import url('https://fonts.googleapis.com/css?family=Hind&display');

body{
  background-color: yellow;
  font-family: 'New Rocker', cursive;
}
#content{
  max-width:960px;
  margin:0 auto;
  background-color:#FFFECB;
  border: solid white;
}
header{
  display: grid;
  grid-template-columns: 160px auto;
}
